.header-wrapper {
  height: 75px;
  background-image: linear-gradient(to right top, #0d54be, #0c59ca, #0b5ed7, #0b63e3, #0c68f0);
  width: 100%;
  margin-bottom: 50px;
}

header {
  height: 75px;
  width: 100%;
  color: white;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
