.header-wrapper {
  height: 75px;
  background-color: #222;
  width: 100%;
}

header {
  background-color: #222;
  height: 75px;
  width: 100%;
  padding: 0 0.75rem;
  color: white;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
